@import "tailwindcss";
@import './prism.css';

@layer base {
    body {
        @apply text-zinc-600 dark:text-zinc-400;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply text-zinc-900 dark:text-zinc-200;
    }

    hr {
        @apply border-zinc-200/25 my-4 mx-10;
    }

    pre {
        overflow-x: scroll;
    }

    img,
    video {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        @apply rounded-xl;
    }
}